main {
  max-width: 38rem;
  padding: 2rem;
  margin: auto;
  color: #333;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.avatar {
  height: 200px;
  width: 200px;
}

.home-links {
  display: flex;
  justify-content: space-around;
}

h1 {
  font-weight: 400;
  text-align: center;
}

h2 {
  font-weight: 300;
  text-align: center;
}

a {
  text-decoration: none;
}
