@font-face {
  font-family: "Source Sans";
  src: url("./assets/SourceSansVariable-Roman.ttf.woff2") format("woff2"),
    url("./assets/SourceSansVariable-Roman.ttf.woff") format("woff"),
    url("./assets/SourceSansVariable-Roman.ttf") format("truetype");
}

main {
  max-width: 38rem;
  padding: 2rem;
  margin: auto;
  color: #333;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Source Sans";
  font-variation-settings: "wght" 100, "wdth" 100;
}

.avatar {
  height: 200px;
  width: 200px;
}

.home-links {
  display: flex;
  justify-content: space-around;
}

h1 {
  font-variation-settings: "wght" 400;
  text-align: center;
}

h2 {
  font-variation-settings: "wght" 200;
  text-align: center;
}

a {
  text-decoration: none;
}
